<nav class="navbar navbar-inverse" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{@blog.url}}">
        <img src="{{asset "/images/logo-right.png"}}" alt="resin.io blog" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-right">
        {{#foreach navigation}}
          <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
            <a href="{{url absolute="true"}}">{{label}}</a>
          </li>
        {{/foreach}}
        <li>
          <a id="search-open" href="#">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
